body, html {
	height: 			100%;
}
body {
	margin: 			0;
	background-color: 	white;
	font-family: 'IBM Plex Serif';
}


/* Navigation Bar */
#menu-container {
	position: 			relative;
	margin-left: 		7.5px;
	display: 			inline-block;
	cursor: 			pointer;
}

.bar1, .bar2, .bar3 {
	width: 				35px;
	height: 			5px;
	background-color: 	#333;
	margin: 			6px 0;
	transition: 		0.4s;
}

.bar1 {
	transform-origin: 	left;
}

.bar2 {
	transform-origin: 	center;
}

.bar3 {
	transform-origin: 	left;
}

.change .bar1 {
	-webkit-transform: 	rotate(45deg);
	transform: 			rotate(45deg);
	top: 2px;
}

.change .bar2 {
	-webkit-transform: 	rotate(315deg);
	transform: 			rotate(315deg);
	right: 				3px;
}

.change .bar3 {
	-webkit-transform: 	scaleX(0);
	transform: 			scaleX(0);
}

.overlay {
	height: 			100%;
	width: 				0;
	position: 			fixed;
	z-index: 			1;
	left: 				0;
	top: 				0;
	background-color: 	rgb(0,0,0);
	background-color: 	rgba(0,0,0,0.8);
	overflow-x: 		hidden;
	transition: 		0.5s;
}

.overlay-content {
	position: 			relative;
	top: 				25%;
	width: 				100%;
	text-align: 		center;
	margin-top: 		30px;
}

.overlay a {
	padding: 			8px;
	text-decoration: 	none;
	font-size: 			36px;
	color: 				grey;
	display: 			block;
	transition: 		0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: 				#f1f1f1;
}

.overlay .closebtn {
	position: 			absolute;
	top: 				20px;
	right: 				45px;
	font-size: 			60px;
}

@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px;}
	.overlay .closebtn {
		font-size: 		40px;
		top: 			15px;
		right: 			35px;
	}
}
/* Background Image */
.hero_image {
	position:			relative;
	height: 			100vh;
	background-image: 	url('../img/hero_image.png');
	background-position:center;
	background-attachment: fixed;
	background-repeat: 	no-repeat;
	background-size: 	cover;
	z-index: 			0;
	min-width: 			700px;
}


#hello-box {
	position:  			relative;
	top: 	   			30%;
	left: 	   			20%;
	transform: 			translate(-50%, -20%);
}

.hello-textbox {
	position: 			absolute;
	width: 	  			100%;
}

.hello {
	font-size: 	 		4vw;
	text-align:  		center;
	color: 		 		white;
	line-height: 		0.5;
}

#boren-box {
	position:  			relative;
	top: 	   			35%;
	left:      			22.5%;
	transform: 			translate(-50%, -10%);
}

.boren-text {
	position: 			absolute;
	width: 	  			100%;
}

.MEEE {
	font-size: 	 		8vw;
	text-align:  		center;
	color: 		 		white;
	line-height: 		0.5;
}

/* About Section */
#about {
	margin-bottom: 20%;
}
.about-block {
	min-width: 			250px;
	position: 			relative;
	background-color:	white;
	line-height: 		1.4;
	margin: 			0px auto;
	padding: 			24px;
	margin-bottom: 		36px;
}

.about-box {
	margin-left: 		20%;
	margin-right: 		20%;
	margin-top:			5%;
	position: 			relative;
	background:			white;
}

.About {
	text-align: 		center;
	margin-bottom: 		5%;
	font-size: 2.5vw;
}

.about-photo{
	overflow: 			hidden;
	width: 				40%;
	height: 			50%;
	transform: 			translate(10%, 0%)
	min-width: 			100%;
	object-fit: 		cover;
	border-style:	 	solid;
	border-color: 		#c0c0c0;
	border-width: 		3px;
}
.parafo{
	position: absolute;
	transform: translate(10%, -5%);
	display: inline-block;
}

/*Portfolio Section*/
#portfolio {
	margin-bottom: 20%;
}
}
.portfolio-block {
	min-width: 			250px;
	position: 			relative;
	background-color:	white;
	line-height: 		1.4;
	margin: 			0px auto;
	padding: 			24px;
	margin-bottom: 		36px;
	display: block;

}

.Portfolio {
	text-align: center;
	margin-bottom: 5%;
	font-size: 2.5vw;
}

.portfolio-section {
	justify-content: center;
	min-height: 350px;
	display: grid;
	grid-gap: 0;
	grid-template-areas: "M M M M R_1 R_1 S_1 S_1"
						 "M M M M R_1 R_1 S_1 S_1"
						 "M M M M R_1 R_1 T_1 T_2"
						 "M M M M R_1 R_1 T_3 ."
						 "R_2 R_2 S_2 S_2 T_4 T_5 . ."
						 "R_2 R_2 S_2 S_2 T_6 . . ."
						 "R_2 R_2 T_7 T_8 . . . ."
						 "R_2 R_2 T_9 . . . . .";
	grid-template-columns: repeat(8, 100px);
	grid-template-rows: repeat(8, 100px);
}

.pic {
	height: auto;
	width: auto;
	display: block;
	overflow: hidden;
	margin-top: 2.5px;
	margin-left: 2.5px;
	margin-right: 2.5px;
	opacity: 0;
}


.portfolio-section > div {
	justify-content: center;
	overflow: hidden;
}

.main {
	grid-area: M;
	overflow: hidden;
}

.rect_1 {
	grid-area: R_1;
	overflow: hidden;
}

.rect_2 {
	grid-area: R_2;
	overflow: hidden;
}

.subsquare_1 {
	grid-area: S_1;
	overflow: hidden;
}

.subsquare_2 {
	grid-area: S_2;
	overflow: hidden;
}
.tin-square_1 {
	grid-area: T_1;
	overflow: hidden;
}

.tin-square_2 {
	grid-area: T_2;
	overflow: hidden;
}

.tin-square_3 {
	grid-area: T_3;
	overflow: hidden;
}

.tin-square_4 {
	display: grid;
	grid-area: T_4;
	overflow: hidden;
}

.tin-square_5 {
	grid-area: T_5;
	overflow: hidden;
}

.tin-square_6 {
	grid-area: T_6;
	overflow: hidden;
}

.tin-square_7 {
	grid-area: T_7;
	overflow: hidden;
}

.tin-square_8 {
	grid-area: T_8;
	overflow: hidden;
}

.tin-square_9 {
	grid-area: T_9;
	overflow: hidden;
}

/* Contact Section */
#contact {
	margin-bottom: 20%;
	text-align: center;
}

.contact-block {
	min-width: 			250px;
	position: 			relative;
	background-color:	white;
	line-height: 		1.4;
	margin: 			0px auto;
	padding: 			24px;
	display: block;
}

.Contact{
	text-align: center;
	margin-bottom: 5%;
	font-size: 2.5vw;
}

.centerpiece {
	margin: auto;
}

.icon-row {
	width: 100%;
	height: 66px;
	display: inline-block;
}

.icon-container {
	margin: 0 2px;
	width: 60px;
	height: 60px;
	position: relative;
	display: inline-block;
}


.icon-container img {
	position: relative
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	margin: 0 10px 10px 0;
}


